.main{
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 90px 0 90px 0;
    background-color: rgb(252, 252, 252);
  
  }
  .sub-main{
    display: flex;
    justify-content: center;
    height: 550px;
    width: 35%;
    box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
    padding-top: 30px;
    border-radius: 60px;
    background-color: white;
  }
.name-login{

        font-size:  50px; 
        font-weight:  400px; 
        color:  #555; 
}
input{
    width: 300px;
    height: 50px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px #888;
    border: none;
    outline: none;
    background-color: #fff;

  }
  .login100-form-btn{
    width: 300px;
    height: 50px;
    border-radius: 60px;
    background-color: #e69e18;
    color: white;
    font-size: 25px;
    border: none;
    
  }
  .label-input100{
    font-size:  20px; 
    font-weight:  50px; 
    color:  #000; 
  }
.wrap-input100 validate-input m-b-23{
    padding-top: 20px;
}